<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
     <style>
        body {
            background-color: lightyellow;
        }

        .container {
            text-align: left;
            font-size: large;
        }

        h2 {
            color: deeppink;
        }
        h3{
            color: orangered;
        }
    </style>
</head>
<body>

<p style="text-align: left"><a href="{% url 'User:index' %}">Home</a></p>
<div class="container">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    <form action="{% url 'User:validate_user' %}" method="post">
        {% csrf_token %}

            <label for="username">Username: </label> <input type="text" name="username" id="username"/></br></br>
            <label for="password">Password: </label><input type="password" name="password" id="password"/>
        </br></br>
        <input type="submit" value="Login"/>
    </form>
</br>
<a href="{% url 'User:register' %}">Register here</a>
</div>
</body>
</html>